*{
    margin: 0;
    box-sizing: border-box;
}
body{
    padding:2%;
}

h1{
    color: rgb(222, 62, 188);
}
.par{
    font-size:25px;
    font-style:italic;
    color: rgb(204, 142, 49);

}

ul li{
    color:red;
    font-size:20px;
    font-weight: bold;

}